# Authentication settings
AUTH_ENDPOINT=AUTHENTICATION_ENDPOINT
SEARCH_API_ENDPOINT=SEARCH_ENDPOINT
CLIENT_ID=your_client_id_here
CLIENT_SHORTCODE=your_client_shortcode_here
CLIENT_SECRET=your_client_secret_here

# Server settings
HOST=0.0.0.0
PORT=3000
MESSAGE_PATH=/mcp/messages/